window {
    background-color: #E1D3C5;
}

.main-box {
    background-color: #C0C0C0;
    padding: 15px;
    border: 4px solid #333333;
    box-shadow: 2px 2px 0 #333333; 
    margin: 13px;
}

.section-title {
    font-family: "Monospace", "Courier New", monospace;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}

button {
    background-color: #C0C0C0;
    color: #091e3a;
    font-family: "Monospace", "Courier New", monospace;
    font-weight: bold;
    border-radius: 0;
    border: 2px solid #333333;
    box-shadow: 2px 2px 0 #333333;
    padding: 5px;
}

.top-10-list {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #2f4f4f;
    align-items: center;
}


#frequency-result {
    font-family: "Monospace", "Courier New", monospace;
    font-weight: bold;
    font-size: 25px;
    color: #090438;
}